*environment*
*.json
*env*
!*.example
.jpg
.jpeg
.png
.gif
.bmp
.webp
.svg
.apng
.avif
.ico
.jfif
.pjpeg
.pjp
.mp3
.wav
.flac
.aac
.ogg
.wma
.m4a
.dll
.so
.lib
.bin
.class
.pyc
.pyo
.o
.obj
.exe
.msi
.bat
.cmd
.sh
.jar
.app
.apk
.dmg
.iso
.img
.zip
.rar
.7z
.tar
.gz
.bz2
.xz
.tgz
.lz
.mp4
.avi
.mov
.wmv
.mkv
.webm
.flv
.psd
.ai
.eps
.indd
.sketch
.fig
.xd
.blend
.vsdx
.heic
.eml
.msg
.esx
.esxm
.tmp
.log
.ds_store
.thumbs
.lnk
.ini
.db
.bak
.old
.partial
.env